* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(33, 37, 41);
}

a {
    color: white;
    text-decoration: none;
    margin: 25px;
    font-size: 26px;
}

.navbar {
    font-size: 32px;
}

.right-section {
    display: flex;
    align-items: center;
    margin: 20px;
    
}

.left-section {
    display: inline-flex;
    align-items: center; 
}

.link {
    color: rgb(161, 165, 166);
}

.dropdown {
    font-size: 28px;
    color: rgb(161, 165, 166);
    background-color: rgb(33, 37, 41);
    border: 0;
    font-size: 24px;
}

.disabled {
    pointer-events: none;
    color: rgb(88, 91, 94);
}

.search {
    height: 64px;
    width: 350px;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 20px;
    margin-right: 15px;
}

.button {
    font-size: 24px;
    background-color: rgb(33, 37, 41);
    color: rgb(26, 135, 84);
    height: 64px;
    width: 120px;
    border: 2px solid rgb(26, 135, 84);
    border-radius: 8px;
}

button:hover {
    background-color: rgb(26, 135, 84);
    color: white;
}